1. Q1. Create a New Database and  Table for Employees
Task: Create a new database named company_db and Create a table named employees with the following
columns:


Column Name    Data Type       Constraint
employee_id     INT            Primary Key
first_name      VARCHAR(50)
last_name       VARCHAR(50)
department      VARCHAR(50)
salary           INT
hire_date        Date

- SQL Commands: -- Step 1: Create the database
CREATE DATABASE company_db;

-- Step 2: Use the database
USE company_db;

-- Step 3: Create the employees table
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    hire_date DATE
);

employee_id INT PRIMARY KEY → Ensures each employee has a unique ID.

VARCHAR(50) → Allows text up to 50 characters.

salary INT → Stores whole number salary values.

hire_date DATE → Stores date in YYYY-MM-DD format.

2. . Insert Data into Employees Table

Task: Insert the following sample records into the table:

employee_id  first_name  last_name department  salary  hire_date
101            Amit       Sharma    HR          50000  2020-01-15
102            Riya       Kapoor    Sales       75000  2019-03-22
103            Raj        Mehta     IT          90000  2018-07-11
104            Neha       Verma     IT          85000  2021-09-01
105            Arjun      Singh     Finance     60000  2022-02-10

- INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)
VALUES
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10');

3.  Display All Employee Records Sorted by Salary (Lowest to Highest)

Hint: Use the clause on the salary column.
- SELECT *
FROM employees
ORDER BY salary ASC;

4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)
- SELECT *
FROM employees
ORDER BY department ASC, salary DESC;

First sorts departments alphabetically
Then sorts salary in descending order within each department

5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)
- SELECT *
FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC;

DESC on hire_date gives newest employees first

6.  Create and Populate a Sales Table

Task: Create a table sales to track sales data:

sale_id  customer_name   amount   sale_date
1          Aditi         1500      2024-08-01
2          Rohan         2200      2024-08-03
3          Aditi         3500      2024-09-05
4          Meena         2700      2024-09-15
5          Rohan         4500      2024-09-25

- Step 1 Create the Table: CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount INT,
    sale_date DATE
);

- Step : Insert Sample Records : INSERT INTO sales (sale_id, customer_name, amount, sale_date)
VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');

7. Display All Sales Records Sorted by Amount (Highest → Lowest)
Hint: Use ORDER BY amount DESC
- SELECT *
FROM sales
ORDER BY amount DESC;

8. Show All Sales Made by Customer “Aditi”
Hint: Use WHERE customer_aditi name = "Aditi"
- SELECT *
FROM sales
WHERE customer_name = 'Aditi';

9. What is the Difference Between a Primary Key and a Foreign Key?
- Primary Key                                Foreign Key                Uniquely identifies each record in a table   Links one table to another     Cannot contain NULL values                   Can contain NULL values      
Only one primary key per table              Multiple foreign keys allowed
Ensures entity integrity                   Ensures referential integrity

Example:

employee_id in employees table → Primary Key

If employee_id is used in another table (like payroll), it becomes a Foreign Key there.

10. What Are Constraints in SQL and Why Are They Used?
- Constraints are rules applied to table columns to enforce data integrity and accuracy.

Common Types of Constraints:

a)PRIMARY KEY → Unique + Not NULL

b)FOREIGN KEY → Maintains relationship between tables

c)NOT NULL → Prevents NULL values

d)UNIQUE → Prevents duplicate values

e)CHECK → Ensures condition (e.g., salary > 0)

f)DEFAULT → Sets default value

Constraints Are Used because:
To maintain data accuracy

To prevent invalid data entry

To enforce business rules

To maintain relationships between tables

To improve data reliability
  
      
















Q2. Insert Data into Employees Table

Task: Insert the following sample records into the table.















Q3. Display All Employee Records Sorted by Salary (Lowest to Highest)

Hint: Use the clause on the salary column.


Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)


Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)